@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}

#logo{
    position: fixed;
    padding-left: 2rem;
}

#transparent-fixed{
    margin: 0 12% 0 12%;
    padding: 1.3rem;
    background-color: #1a1a4089;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.resaltado{
    background-color: rgb(71, 71, 211);
    color: #fff;
    padding: 35px 35px 22px ;
    transition: 0.5s;
    border-top-left-radius: 3px;
    border-top-right-radius: 20px;
}



.a-color{
    color: white;
}

.a-color:hover{
    color: rgb(71, 125, 211);
    border-bottom: 3px solid rgb(71, 125, 211);
}

.a-color:hover .resaltado{
    color: #fff;
    border-bottom: 0px solid rgba(71, 125, 211, 0);
}


#mini-menu > ul{
    align-content: flex-start;
    align-items: flex-start;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}




#transparent-fixed ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
}

#transparent-fixed ul li{
    list-style: none;
}

#transparent-fixed ul li a{
    text-decoration: none;
    transition: 0.3s;
}




/* FIN DEL NAVBAR */



/* INICIO  */


section {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-image: url('img/arnold-francisca-f77Bh3inUpE-unsplash.svg');
}

#header{
    display: flex;
    align-items: center;
    padding: 0 15% 0 15%;
    justify-content: space-around;
}

article{
    padding: 10px;
    background-color: rgb(71, 125, 211);

}

section div div:nth-child(1){
    height: 77vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    animation: space 1s;
}

section div:nth-child(2){
    display: flex;
    justify-content: center;
}

#frase p{
    color: #fff;
    font-size: 1.3rem;
    margin-bottom: 7vh;
    text-align: center;

}


section div div:nth-child(2) img{
background-color: rgba(79, 79, 79, 0.103);
backdrop-filter: blur(5px);
border-top: 1px solid rgba(255, 255, 255, 0.098) ;
border-bottom: 2px solid rgba(255, 255, 255, 0.153);
display: flex;
align-items: center;
justify-content: center;
padding: 4rem;
border-radius: 50%;



}


section div div:nth-child(2) img{
    filter: drop-shadow(2px 0px 10px white);
    animation: destellos 1s  1s;
}

@keyframes space {
    50%{
        gap: 5rem;
    }
}

section  div h1{
    text-align: center;
    justify-content: center;
    color: #fff;
    font-size: 10rem;
}

section  div div p{
    text-align: center;
    justify-content: center;
    color: #fff;
    font-size: 2.5rem;
}

section  div h1, section  div p 
{
    animation: appear 2s ;
}

section  div h1
{
    animation: size .8s;
}

@keyframes size {
    0%{
        opacity: 0;
    }

    50%{
        font-size: 12rem;
    }
}


@keyframes appear {
    0%{
        color: rgba(255, 255, 255, 0);
        opacity: 0;
        visibility: hidden;
    }
    50%{
        color: rgb(255, 255, 255);
    }
}


@keyframes destellos {

    0%{
        opacity: 0;
    }

    10%{
        opacity: 1;
    }

    15%{
        opacity: 0;
    }

    30%{
        opacity: 1;
    }
    
    40%{
        opacity: 0;
    }

    41%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }

    55%{
        opacity: 1;
    }

    70%{
        opacity: 0;
    }


}



main{
    padding: 0 10px;
    height: 100vh;
    margin: 0 12% 0 12%;
    background-color: #1a1a4089;
    backdrop-filter: blur(5px);
}



@media (max-width:1024px) {
    section{
        width: 100%;
        height: 100vh;
        object-fit: cover;
        background-attachment: fixed;
        background-image: url('img/arnold-francisca-f77Bh3inUpE-unsplash.svg');
    }

    section div{
        width: 100%;
        height: 81vh;
    }

    section  div h1{
        text-align: center;
        justify-content: center;
        color: #fff;
        font-size: 5rem;
    }
    
    section  div p{
        text-align: center;
        justify-content: center;
        color: #fff;
        font-size: 1rem;
    }

    #transparent-fixed ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1rem;
    }

    
article{
    height: 200vh;
    margin: 0 0 0 0;
    background-color: #fff;
}
}